<!doctype html>
<html>

<head>
  <title>{{ title }}</title>
  {{>head}}
</head>

<body>
  <article>
    {{>nav}}
    {{{contents}}}
  {{count collections.posts}}
  </article>
  {{#each collections.posts}}
  <article>
      <a href="/{{path}}">{{title}}</a>
      {{ prettyDate date }}
      </article>
  {{/each}}
</body>

</html>
